<link href='https://fonts.googleapis.com/css?family=Eagle Lake' rel='stylesheet'>
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>

    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/pics/bd2.jpg" alt="img" width="100%" height="360px">
      </div>
      <div class="carousel-item">
        <img src="./assets/pics/eg1.jpg" alt="img" width="100%" height="360px">
      </div>
      <div class="carousel-item">
        <img src="./assets/pics/h1.jpg" alt="img" width="100%" height="360px">
      </div>
      <div class="carousel-item">
        <img src="./assets/pics/mg1.jpg" alt="img" width="100%" height="360px">
      </div>
      <div class="carousel-item">
        <img src="./assets/pics/bs1.jpeg" alt="img" width="100%" height="360px">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
</div><br><br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h4 class="sub">Who We Are?</h4>
      <p>Dream Planners is an full service event management company which believes in creating exceptional & flawless event experiences. We believe in creating moments which shall become memories to be cherished forever.</p>
    </div>
    <div class="col-6">
      <img src="./assets/pics/ab1.jpg" alt="no img">
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-6">
      <img src="./assets/pics/ab2.jpg" alt="no img">
    </div>
    <div class="col-6">
      <h4 class="sub1">What We Can Do?</h4>
      <p>At Dream planners we continuosly strive to be innovative, creative & our we believe in designing or creating events tailormade for you. We take care of each and every detail, right from the Venue layout and Color scheme to the Food and Beverages catering, every element is crafted carefull and executed accordingly. We are obsessed in creating exception events, but above all we aim to exceed expectations in every way possible.</p>
    </div>
  </div>
</div>

<div class="rel">Four Reasons Why You Should Choose Us</div>
<div class="container">
<div class="row">
  <div class="col-6">
    <h4 class="rea1">Friendly Team</h4>
    <p>What makes us truly different is our philosophy of “Unleashing Energy” At Dream Planners we are blessed with a vibrant team of skilled Event professionals with loads of experience and Talents. Finally, it is our incessant endeavour to deliver Quality beyond the expectations of our Clients.</p>
  </div>
  <div class="col-6">
    <img src="./assets/pics/ab3.jpeg" alt="no img" width="600px" height="250px">
  </div>
</div><br><br>
<div class="row">
  <div class="col-6">
    <img src="./assets/pics/ab4.jpg" alt="no img" width="550px" height="250px">
  </div>
  <div class="col-6">
    <h4 class="rea2">Unforgettable Time</h4>
    <p>We believe in creating moments which shall become memories to be cherished forever. Dream Planners offers unique ideas and themes that make any event truly original and engaging. We always make sure every event that we create is elegant and unique which meets your event objectives at the same time an unforgettable time which shall be cherished for life long.</p>
  </div>
</div><br><br>
<div class="row">
  <div class="col-6">
    <h4 class="rea3">Unique Scenarios</h4>
    <p>Dream Planners specialises in creative an impeccable platform, which made us achieve the optimal impact and left an everlasting impression on our latest decorations, handling events, especially high quality food and ever lasting taste.</p>
  </div>
  <div class="col-6">
    <img src="./assets/pics/ab5.jpg" alt="no img" width="600px" height="250px">
  </div>
</div><br><br>
<div class="row">
  <div class="col-6">
    <img src="./assets/pics/ab6.jpg" alt="no img" width="550px" height="250px">
  </div>
  <div class="col-6">
    <h4 class="rea4">Perfect Venues</h4>
    <p>Every event needs the right venue to showcase the spectacle. Let it be your wedding, product launch or anniversary bash, our event services team offers the most luxurious and bespoke venues that can serve as the perfect backdrop for the celebrations, within your budget.</p>
  </div>
</div>


</div>






