<link href='https://fonts.googleapis.com/css?family=Asap Condensed' rel='stylesheet'>
<img src="./assets/pics/eve1.jpg" alt="no img" width="100%" height="250px">
<div class="centered">Weddings & Receptions</div><br><br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-6" id="slide">
            <h4 style="font-family: Asap Condensed;">Dream Planners Wedding Venue</h4><br>
            <p>Let Dream Planners be the magical setting for your wedding. Whether it’s a large gathering or intimate affair, we have the perfect space for you. Our experienced event coordinators will assist you in making sure all the details come together for your most memorable night.</p>
        </div>
        <div class="col-6" id="slideme">
            <img src="./assets/pics/wedding/wed1.jpg" alt="no img" width="250px" height="150px">
            <img class="img1" src="./assets/pics/wedding/wed2.jpg" alt="no img" width="250px" height="150px"><br>
            <img class="img4" src="./assets/pics/wedding/wed3.jpg" alt="no img" width="250px" height="150px">
            <img class="img2" src="./assets/pics/wedding/wed4.jpg" alt="no img" width="250px" height="150px">
        </div>
    </div>
</div>