<link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Charm' rel='stylesheet'>
<div class="container-fluid">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/pics/event.jpg" alt="no img">
        <div class="carousel-caption">
          <h3 style="color: navy; font-weight: bolder; font-size: 80px;">We create you celebrate</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/pics/eve.png" alt="no img" width="100%">
        <div class="carousel-caption">
          <h3 style="color: crimson; font-weight: bolder; font-size: 80px;">Let us help you create</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/pics/eve2.jpg" alt="no img">
        <div class="carousel-caption">
          <h3 style="color: black; font-weight: bolder; font-size: 80px;">From setup to cleanup</h3>
        </div>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div><br><br><br>

  <p style="font-family: cursive; font-size: 30px; text-align: center;">It’s simple. You have an event to plan and <br>

    we have the solutions</p><br><hr>

   <p style="font-family: Amita; font-size: 40px; text-align: center; color: crimson;">Choose your Event</p><br>
   
   <div class="container">
   <div class="row">
    <div class="col-sm-3">
      <div class="card text-center border-primary" style="width: 15rem; height: 15rem;">
        <div class="card-body">
          <h3><img src="./assets/pics/soc.png" alt="no img" width="80px" height="80px"></h3><br>
          <a routerLink="socialevents"><p class="card-text" style="color: dodgerblue; font-size: large;">SOCIAL EVENTS</p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center border-danger" style="width: 15rem; height: 15rem;">
        <div class="card-body">
          <h3><img src="./assets/pics/wr.jpg" alt="no img" width="70px" height="70px"></h3><br>
          <a routerLink="weddings"><p class="card-text" style="color: firebrick; font-size: large;" >WEDDINGS & RECEPTIONS</p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center border-warning" style="width: 15rem; height: 15rem;">
        <div class="card-body">
          <h3><img src="./assets/pics/corp.png" alt="no img" width="70px" height="70px"></h3><br>
          <a routerLink="corporate"><p class="card-text" style="color: gold; font-size: large;">CORPORATE MEETINGS & EVENTS</p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center border-success" style="width: 15rem; height: 15rem;">
        <div class="card-body">
          <h3><img src="./assets/pics/bang.jpg" alt="no img" width="80px" height="80px"></h3><br>
          <a routerLink="banquets"><p class="card-text" style="color: forestgreen; font-size: large;">BANQUETS & GALAS</p></a>
        </div>
      </div>
    </div>
  </div><br><br>
  </div>


 
    <p class="jumbotron" style="font-family: 'Charm';">"Working hard for something we love is called Passion"</p>
</div>



